:root{
    --tabla: 'Unna', serif;
    --titulo: 'Permanent Marker', cursive;
    --fuenteprincipal: 'Bebas Neue', cursive;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    line-height: 1.5rem;
}
 *,*::before, *::after{
        box-sizing: inherit;
 }
.contenedor{
    margin: 0 auto;
    max-width: 120rem;
}
body{
    background-color: #4be776;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logotipo{
     display: flex;
    justify-content: start;
   align-items: center;
}
.logotipo h1{
    justify-content: center;
   align-items: center;
   color:white;
   font-family:var(--titulo);
   font-size: 4rem;
}
.logo1{
    max-width: 15%;
}
.logo{
    max-width: 35%;
    align-items: center;
}
.orden{
    display: flex;
}
.site-header{
    background-color:black;
}
.barra{
    display: grid;
    grid-template-columns: 4fr 2fr 1fr;
}
.nav {
    text-decoration: none;
    display: flex;
    justify-content: start;
     align-items: center;
}
.nav a{
    text-decoration: none;
    font-size: 3rem;
    color: white;
    padding: 1rem;
    font-family: var(--tabla);
}
.nav a:hover{
    background-color: green;
}
.usuario{
    background-color: gray;
    text-align: center;
}
.usuario h3{
    font-size: 1.5rem;
    color:white;
    margin-right: 2rem;
}
.usuario i{
    font-size: 2rem;
}
.usuario i:hover{
    cursor: pointer;
    background-color:darkolivegreen;
    padding: .1rem;
}
.usuario img{
    margin-top: 1rem;
    border: solid;
}
.logeo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkolivegreen;
    background-color:black;
    padding: 2rem;
}
.contenedor-tabla{
    width: 80%;
    margin: 0 auto;
}
table{
    width: 100%;
    border-style: solid;
    border-width: .4rem;
    border-collapse: collapse;
    color:#0e1a0d;
}
tr{
    border-style: solid;
    border-width: .5rem;
}

th, td {
    width: 20%;
    height: 2rem;
    text-align: center;
    vertical-align: middle;
    border: .3rem solid #0e1a0d;
    border-collapse: collapse;
    padding: 1rem;
    font-size: 2rem;
    background-color: #91bf91;
    font-family: var(--tabla);
}
th, .fila{
    background-color: darkslategray;
    color: floralwhite;
    font-family: var(--fuenteprincipal);
}

caption{
    text-align: start;
}
p{
    font-size: 1.5rem;
}
.arriba{
    display: flex;
    padding: 2rem;
}
.arriba h1{
    margin-right: 2rem;
    font-family: var(--tabla);
    font-size: 2.5rem;
    background-color:white;
}
.boton a{
    text-decoration: none;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: solid;
    background-color:  #14401a;
    border-radius: 1rem;
    border-color: #0e1a0d;
    color: white;
    font-size: 1.5rem;
    font-family: var(--tabla);
}
.boton a:hover{
    background-color:darkolivegreen;
}
.abajo{
    display: flex;
    justify-content: end;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.abajo h1{
   margin-right: 2rem;
}

/**paginas internas**/
.contenedor-formulario{
  max-width: 80rem;
  margin: 0 auto;
  padding: 3rem;
  width: 100%;
}
form legend {
    font-size: 2rem;
    font-family: var(--fuenteprincipal); 
 }
.formulario{
    background-color: lightgreen;
}
.campo {
    display: flex;
    margin-bottom: 2.5rem;
    align-items: center;
}
.campo i{
    font-size: 2rem;
    margin-left: 1rem;
}
.campo label {
    flex: 0 0 90px;
    color: black;
    font-size: 1.7rem;
    font-family: var(--fuenteprincipal);
}

.campo input[type="text"],
.campo input[type="tel"],
.campo input[type="number"],
.campo textarea {
    flex: 1;
    height: 2.5rem;
    background-color: lightgray;
    max-width: 70%;
}
.campo input[type="date"]{
    background-color: lightgray;
}
.boton-ubicacion{
    display: flex;
    justify-content: end;
}
.boton-enviar{
    background-color: #14401a;
    color: white;
    padding: 1rem 2rem;
    border-color: #0e1a0d;
    font-family: var(--tabla);
    font-size: 1.5rem;
}
.boton-enviar:hover{
    cursor: pointer;
    background-color:darkolivegreen;
}
fieldset{
    border-color: black;
    border-width: medium;
    border-style: solid;
}