
body{
    font-family: 'Titillium Web', sans-serif;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    background-color: #fff; 
    box-shadow: 0 2px 4px 0 rgb(0,0,05);
    min-height: 100px;
}

.nav-link{
    color:black;
}

.nav-link:hover{
    color:black;
}

.logo-brand{
    min-width: 20px; 
    max-width: 60px; 
    min-height: 20px
    max-height:60px;
}

.zoom {
    width: 200px;
    height: 130px; 
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    opacity: 40%;
    border-radius: 30px; 
}
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 60%; 
    border-radius: 30px; 
}

.divCollapse{
    background-color: rgb(255,255,255,75%); 
    margin: 10px;
    border-radius: 20px; 
}

.filtro1{
    margin-left: 20px;
}

.filtro2{
    margin-left: 35px; 
}

.table{
    background-color: rgb(255,255,255,75%); 
    margin-top: 10px; 
    max-width: 97%; 
    border-radius: 20px;
}

.tablaCentrada{
    margin-left: auto; 
    margin-right: auto;
    width: 60%;
}

.tablaCentrada2{
    margin-left: auto; 
    margin-right: auto;
    width: 80%;
}



#asignarB{
    background-color: transparent;
}


/*Estilos para el input de la cantidad en la vista de asignar*/
#inputCant{
    margin-top: 10px; 
    padding: 10px; 
}

.collapse{
    border-radius: 20px; 
}


/*Id para el cuadro de texto de descripción en la vista de asignar */
#descAsig{
    width: 400px; 
    height: 100px;
    margin-top: 10px; 
    padding: 10px;
}
/* Esta clase la use para los select de los form, para poner el límite 
de anchura*/
.selecForm{
    width: 300px; 
}

.divCentrar{
    text-align: center; 
    margin-top: 10px; 
}

.datos{
    padding: 5px; 
    background-color: rgb(255,255,255,70%);
    border-radius: 10px; 
}

.margenI{
    margin-left: 50px;
}


fieldset{
    border-color: black;
    background-color: rgb(255,255,255,50%);
    border-width: medium;
    border-style: solid;
    width: 70%;
}

.campo{
    padding: 10px;
}

.centrarForm{
    margin: auto;
}

#enviarSolicitud{
    margin-left: 10px;
    margin-bottom: 10px;
}
/**para que se distingan mejor las lineas */
th, td{
    border: solid .1rem;
}

.divBuscar{
    background-color: rgb(255,255,255,70%); 
    text-align: center; 
    border-radius: 20px; 
    margin-top: 1%;
    padding: 1em;
    border-bottom-style: solid; 
    border-bottom-color: black;
}
