:root{
    --tabla: 'Unna', serif;
    --titulo: 'Permanent Marker', cursive;
    --fuenteprincipal: 'Bebas Neue', cursive;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    line-height: 1.5rem;
}
 *,*::before, *::after{
        box-sizing: inherit;
 }
.contenedor{
    margin: 0 auto;
    max-width: 120rem;
}
body{

}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/**LOGIN **/
.login{
    background-image: none;
    background-image: url(../img/fondocuadriculado.png);
}
.seccion-login{
    background-image: none;
}
.imagen-inicio{
    width: 50%;
  float: left;
  padding: 4rem;
  display: table-column;
  text-align: center;
  background-color: white;
 
}
.imagen-inicio img{
  width: 100%;
  margin: 20rem 0rem;
  text-align: center;
}
.inicio-logeo{
    width: 40%;
    float: right; 
    padding: 3rem;
    display: table-column;
    background-color: whitesmoke;
    border: solid;
    margin: 20rem 0rem;
  
}
.inicio-logeo p{
    font-style: italic;
    text-align: end;
    color: #14401a;
}
.campo-login {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}
.campo-login label{
    flex: 0 0 calc(50% - 1rem);
    color: var(--blanco);
}
.campo-login input[type="text"],
.campo-login input[type="password"] {
    flex: 1;
    height: 2.5rem;
    max-width: 70%;
}

/**fin estilos de la pagina login **/

/**barra**/
.logotipo{
     display: flex;
    justify-content: start;
    align-items: center;
}
.logo{
    max-width: 35%;
    align-items: center;
}
.site-header{
    background-color: #ffffff;
    height: 10rem;
    box-shadow: 1px 5px 2px #888888;
}

.nav {
    text-decoration: none;
    display: flex;
    justify-content: end;
     align-items: center;
}
.nav a{
    text-decoration: none;
    font-size: 2rem;
    color: white;
    padding: 1rem;
    font-family: var(--tabla);
}
.nav a:hover{
    background-color: green;
}
.usuario{
    background-color: #62a574;
    text-align: center;
}
.usuario h3{
    font-size: 1.5rem;
    color:white;
    margin-right: 2rem;
}
.usuario i{
    font-size: 2rem;
}
.usuario i:hover{
    cursor: pointer;
    background-color:darkolivegreen;
    padding: .1rem;
}
.usuario img{
    margin-top: 1rem;
    border: solid;
}
.logeo{
    display: flex;
    justify-content: center;
    align-items: center;
}
/**comercializacion**/
.barra-comercializacion{
   display: grid;
   grid-template-columns: 2fr .3fr;
}
.inicio-titulo h1{
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
    font-family: var(--tabla);
    font-size: 3rem;
    margin-bottom: 4rem;
}
.menu-comercializacion{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 40rem;
    margin-left: 40rem;

}
.opcion-comer{
   padding: 2rem;
    border: solid;
    margin-bottom: 2rem;
    background-color: #097a28;
    transition: ease-in-out;
}
.opcion-comer a{
    text-decoration: none;
    color: black;
    display: block;
}
.opcion-comer:hover{
    background-color:#48d96f;
    transform: scale(1.1);
    cursor: pointer;
}
.opcion-comer i{
    font-size: 4rem;
    margin-right: 2rem;
}
/** lista clientes comercializacion**/
.navbar-c{
    margin: 2rem;
    padding: 1rem;
    background-color:#c6d3cb;
    width: 20%;
}
.navbar-f{
    margin: 2rem;
    padding: 1rem;
}
.navbar-f a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    border:solid .1rem;
    padding: 1.3rem;
    background-color: #c6d3cb;
}
.navbar-f a:hover{
    background-color:#828784; 
}
.navbar-c a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    border:solid .1rem;
    padding: .5rem;
}
.navbar-c a:hover{
    background-color:#828784;
}

.imprimir{
    display: flex;
    justify-content: end;
    text-align: center;
}
.buscador{
    margin: 2rem;
    font-size: 1.1rem;
}
/**formulario nuevo cliente**/
.formulario-cliente{
    background-color: #bac7be;
    width: 70%;
    margin-left: 20rem;
    margin-bottom: 2rem;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #5f8569;
    padding: 1rem;
}
.contenedor-tabla{
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.contenedor-tabla-historial{
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-right: 2rem;
}
table{
    width: 100%;
    border-collapse: collapse;
    color:#0e1a0d;
}

th, td {
    width: 15%;
    height: 5rem;
    text-align: center;
    vertical-align: middle;
    border: .1rem solid black;
    border-collapse: collapse;
    padding: 1rem;
    font-size: 2rem;
    background-color: #e4f0e7;
    font-family: var(--tabla);
}
th, .fila{
    background-color:#d2d6d3;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    width: 20px;
}
tr:hover{
    cursor: pointer;
    color: black;
    transform: scale(1);
    border: solid;
    background-color: indigo!important;
}
/**editar cliente - datos fijos*/
caption{
    text-align: start;
}
p{
    font-size: 1.5rem;
}
.arriba{
    display: flex;
    padding: 2rem;
}
.arriba h1{
    margin-right: 2rem;
    margin-left: 20rem;
    font-family: var(--tabla);
    font-size: 2.5rem;
    background-color:white;
    padding: .3rem;
}
.boton a{
    text-decoration: none;
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color:  #b2cbba;
    border-radius: .2rem; 
    color: #0e1a0d;
    font-size: 1.5rem;
    font-family: var(--tabla);
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.boton a:hover{
    background-color: #828784;
}
.abajo{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.abajo h1{
   margin-right: 2rem;
}
/**perfil cliente**/
.inicio-titulo i{
    margin-right: 2rem;
    font-size: 4rem;
}
.perfil{
    background-color: #b2cbba;
    padding: 2rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

.perfil p span{
    background-color:#bac7be;
    padding: .5rem 4rem;
    border: solid .1rem;
    font-weight: 300;
}
.datos-perfil{
    display: flex;
    justify-content: center;
}
.datos-perfil p{
    margin-right: 2rem;
}
/**pedidos*/
.boton-pedido a{
    border: solid .1rem;
    margin-left: 2rem;
    background-color: gray;
    color: black;
}
.boton-pedido a:hover{
    background-color: cadetblue;
}
.parte-pedido{
    background-color:#1b8443;
    padding: 2rem;
}
.campo-pedido{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.7rem;
}
.campo-pedido label{
    font-size: 1.6rem;
}
.campo-pedido input[type="date"]{
    font-size: 1.6rem;
}
.tamano4 td{
    width: 25%;
}
.margin{
    margin-top: 2rem;
}
/**paginas internas**/
.contenedor-formulario{
  max-width: 80rem;
  margin: 0 auto;
  padding: 3rem;
  width: 100%;
}
.campo {
    display: flex;
    margin-bottom: 2.5rem;
    align-items: center;
    margin-top: 1rem;
    font-size: 1rem;
}
.campo i{
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.campo label {
    flex: 0 0 80px;
    color: black;
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.campo input[type="text"],
.campo input[type="tel"],
.campo input[type="number"],
.campo textarea {
    flex: 1;
    height: 2.5rem;
    background-color:whitesmoke;
    max-width: 70%;
    font-size: 1.6rem;
}
.campo input[type="date"]{
    background-color: lightgray;
}
.fijo input::placeholder{
    color: black;
    font-size: 1.5rem;
    font-style: italic;
    text-emphasis-color: black;
    opacity: 1;
}
.boton-ubicacion{
    display: flex;
    justify-content: space-around;
}
.boton-enviar{
    background-color: #14401a;
    color: white;
    padding: 1rem 2rem;
    border-color: #0e1a0d;
    font-family: var(--tabla);
    font-size: 1.5rem;
}
.boton-enviar:hover{
    cursor: pointer;
    background-color:darkolivegreen;
}
.contenedor-solicitudes{
width: 100rem;
  margin: 0 auto;
  padding: 3rem;
  width: 100%;
}
.boton-asignar {
    background-color:transparent;
    border: 0;
    margin: 0;
    text-align: left;
}
.click:hover{
    background-color: red!important;
}