<!DOCTYPE HTML>

<html lang="es">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>Clientes</title>
    <script src="https://kit.fontawesome.com/cf5dc9ec56.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600&display=swap" rel="stylesheet">

    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../../css/style2.css">

</head>

<body id="comercializacion">
    <!--NavBar customizado -->

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="../../img/logo.png" class="logo-brand" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="icon ion-md-menu"> </i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="clientes.html">Clientes<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="pedidos.html">Pedidos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="listadoVentas.html">Ventas</a>
                    </li>
                

                </ul>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        style="margin-right: 45px;">Usuario
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">Perfil</a>
                        <a class="dropdown-item" href="../../index.html">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main class="contenedor inicio-titulo">
        <h1>Clientes</h1>
            <div class="divBuscar tablaCentrada" style="margin-bottom: 2%;">
                <div>
                    <label for="">ID</label>
                    <input type="number" placeholder="ID" style="width: 10%;">

                    <label for="">Apellido: </label>
                    <input type="text" placeholder="Apellido">

                    <label for="">Nombre: </label>
                    <input type="text" placeholder="Nombre">
                </div>

                <div>
                    <label for="">Teléfono: </label>
                    <input type="number" placeholder="Teléfono" style="width: 12%;">

                    <label for="">Correo: </label>
                    <input type="text" placeholder="Correo">

                    <label for="">Localidad: </label>
                    <input type="text" placeholder="Ñocalidad">
                </div>

                <div>
                    <label for="">Dirección: </label>
                    <input type="text" placeholder="Dirección" style="width: 15%;">

                    <label for="">DNI: </label>
                    <input type="text" placeholder="DNI">

                    <label for="">Condición imp: </label>
                    <input type="text" placeholder="Condición">
                </div>

                <div style="text-align: center;">
                    <button type="button" class="btn btn-outline-success botonCli" id="imprimirCli"><a
                        class="decoration space" href="">Buscar</a></button>
                </div>

            </div>
        </div>
            <table class="table tablaCentrada" rules="none" style="max-width: 90%">
                <tr>
                    <th>ID</th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Localidad</th>
                    <th>Direccion</th>
                    <th>DNI</th>
                    <th>Condicion imp</th>
                    <th>Acciones</th>
                </tr>

                <tr>
                    <td>001</td>
                    <td>Schmit</td>
                    <td>Nora</td>
                    <td>111111</td>
                    <td>norita@gmail.com</td>
                    <td>Corrientes</td>
                    <td>Una Direccion</td>
                    <td>8585858585</td>
                    <td>Monotributista</td>
                    <td>
                        <a href="ver.html"><i class="fas fa-eye"></i></a>
                        <a href="modificar.html"> <i class="fas fa-pencil-alt"></i></a>

                        <i class="fas fa-trash-alt"></i>

                    </td>

                </tr>

                <tr>
                    <td>002</td>
                    <td>Flores</td>
                    <td> Martha</td>
                    <td>222222</td>
                    <td>martita@gmail.com</td>
                    <td>Chaco</td>
                    <td>Una Direccion</td>
                    <td>8585858585</td>
                    <td>Monotributista</td>
                    <td>
                        <a href="ver.html"><i class="fas fa-eye"></i></a>
                        <a href="modificar.html"> <i class="fas fa-pencil-alt"></i></a>

                        <i class="fas fa-trash-alt"></i>

                    </td>
                </tr>

                <tr>
                    <td>003</td>
                    <td>Winconsin</td>
                    <td>Sabrina</td>
                    <td>333333</td>
                    <td>sabri@gmail.com</td>
                    <td>Neuquen</td>
                    <td>Una Direccion</td>
                    <td>8585858585</td>
                    <td>Monotributista</td>
                    <td>
                        <a href="ver.html"><i class="fas fa-eye"></i></a>
                        <a href="modificar.html"> <i class="fas fa-pencil-alt"></i></a>

                        <i class="fas fa-trash-alt"></i>

                    </td>
                </tr>

                <tr>
                    <td>004</td>
                    <td>Gomez</td>
                    <td>Adriel</td>
                    <td>4444444</td>
                    <td>adriel@gmail.com</td>
                    <td>Rioja</td>
                    <td>Una Direccion</td>
                    <td>8585858585</td>
                    <td></td>
                    <td>
                        <a href="ver.html"><i class="fas fa-eye"></i></a>
                        <a href="modificar.html"> <i class="fas fa-pencil-alt"></i></a>

                        <i class="fas fa-trash-alt"></i>

                    </td>

                </tr>

                <tr>
                    <td>005</td>
                    <td>.....</td>
                    <td>5555555</td>
                    <td>pasos@gmail.com</td>
                    <td>.......</td>
                    <td>.......</td>
                    <td>.......</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="ver.html"><i class="fas fa-eye"></i></a>
                        <a href="modificar.html"> <i class="fas fa-pencil-alt"></i></a>

                        <i class="fas fa-trash-alt"></i>

                    </td>
                </tr>

                <tr>
                    <td>006</td>
                    <td>.....</td>
                    <td>6666666</td>
                    <td>........</td>
                    <td>.......</td>
                    <td>.......</td>
                    <td>.......</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="ver.html"><i class="fas fa-eye"></i></a>
                        <a href="modificar.html"> <i class="fas fa-pencil-alt"></i></a>

                        <i class="fas fa-trash-alt"></i>

                    </td>
                </tr>
            </table>
            <div class="tablaCentrada" style="text-align: left;width: 90%">
                <button type="button" class="btn btn-outline-success botonCli" id="agregarCli"><a class="decoration"
                        href="agregarcliente.html">Agregar Cliente</a></button>
            </div>

        

    </main>


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../scripts/zoomC.js"></script>
</body>

</html>