<!DOCTYPE HTML>

<html lang="es">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>Clientes</title>
    <script src="https://kit.fontawesome.com/cf5dc9ec56.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600&display=swap" rel="stylesheet">

    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../../css/style2.css">

</head>

<body id="comercializacion">
    <!--NavBar customizado -->
    <!--Las sombras y demás van en la plantilla de css 
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="../../img/logo.png" class="logo-brand" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class = "icon ion-md-menu" ></i>
        </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Clientes<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="pedidos.html">Pedidos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="ventas.html">Ventas</a>
                </li>


            </ul>
        </div>

        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 45px;">Usuario
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#">Perfil</a>
            <a class="dropdown-item" href="#">Cerrar sesión</a>
            </div>
        </div>
    </nav>-->

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="../../img/logo.png" class="logo-brand" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="icon ion-md-menu"> </i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="clientes.html">Clientes<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="pedidos.html">Pedidos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="listadoVentas.html">Ventas</a>
                    </li>
                

                </ul>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        style="margin-right: 45px;">Usuario
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">Perfil</a>
                        <a class="dropdown-item" href="../../index.html">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main class="cont inicio-titulo">
        <h1><i class="fas fa-user-alt"></i>Perfil cliente</h1>
        <div class="perfil">
            <div class="datos-perfil">
                <p>Codigo: <span>001</span></p>
                <p>Apellido: <span>Morales Guidon</span></p>
                <p>Nombre: <span>Nicole</span></p>
                <p>DNI: <span>24580714</span></p>
            </div>
            <div class="datos-perfil">
                <p>Localizacion: <span>Argentina, Corrientes</span></p>
                <p>Cod. Postal: <span>3400</span></p>
                <p>Direccion: <span>Lomas Altas 324</span></p>

            </div>
            <div class="datos-perfil">
                <p>Condicion impositiva <span> Responsable monotributo</span></p>
            </div>
            <div class="datos-perfil">
                <p>Descripciom: <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit asperiores eos doloremque
                        doloribus. Vel dicta dignissimos vero.</span></p>
            </div>
            

            <div class="tablaCentrada" style="text-align: center;">
                <div class="caption" style="text-align: left;">
                    <p>Ultimas compras:</p>
                </div>
                <table class="table cliente" rules="none">
                    <tr>
                        <th>ID Pedido</th>
                        <th>Fecha de ingreso</th>
                        <th>Fecha de entrega</th>
                        <th>Estado</th>


                    </tr>

                    <tr>
                        <td>001</td>
                        <td>00/00/00</td>
                        <td>00/00/00</td>
                        <td>Finalizado</td>

                    </tr>
                    <tr>
                        <td>002</td>
                        <td>00/00/00</td>
                        <td>00/00/00</td>
                        <td>Finalizado</td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>00/00/00</td>
                        <td>00/00/00</td>
                        <td>Finalizado</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="botones" style="text-align: center;">
            <button type="button" class="btn btn-outline-success botonCli" id="imprimirCli"><a class="decoration space" href="productostermi.html">Volver</a></button>
        </div>
    </main>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../scripts/zoomC.js"></script>
</body>

</html>