  <!DOCTYPE html>
  <html lang="es">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <title>Reciplas</title>

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600&display=swap" rel="stylesheet">

      <link href = "https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"  rel = "stylesheet" >
      <link rel="stylesheet" href="../../css/style2.css">

    </head>


    <body>
      <br>
      <br>
      <br>
      <br>
      <div class="menu-admi">
        <div class="opcion-admi">
            <a href="pedidos_cli.html">
              <i class="fas fa-clipboard"></i>
                <h2>Pedidos</h2>
            </a>

        </div>
        <div class="opcion-admi">
            <a href="solicitudesMP.html">
               
                <i class="fas fa-envelope-open-text"></i>
                <h2>Solicitudes</h2>
            </a>

        </div>
        <div class="opcion-admi">
          <a href="stock.html">
            <i class="fas fa-layer-group"></i>
              <h2>Stock</h2>
          </a>
      </div>
</div>




      <!-- jQuery first, then Tether, then Bootstrap JS. -->
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

      <script src="https://kit.fontawesome.com/cf5dc9ec56.js" crossorigin="anonymous"></script>

      <script src="../../scripts/zoom.js"></script>
    </body>
  </html>
