<!DOCTYPE html>
<html>
<head>
	<meta http-equiv=Content-Type content="text/html; charset=utf-8">

	<title>Compras</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600&display=swap" rel="stylesheet">
    <link href = "https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"  rel = "stylesheet" >

    <link rel="stylesheet" type="text/css" href="../../../css/style2.css">
</head>

<body id="gerente">
	<nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="homeGer.html"><img src="../../../img/logo.png" class="logo-brand" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class = "icon ion-md-menu" > </i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="../usuarios.html">Gestión Usuarios<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../opciongestion.html">Gestión Stocks</a>
                    </li>

                    <li class="nav-item">
                      <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 45px;">Reportes
                        </button>

                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="homeRepCompras.html">Compras</a>
                            <a class="dropdown-item" href="homeRepIngresos.html">Ingresos insumos</a>
                            <a class="dropdown-item" href="homeRepProduccion.html">Producción</a>
                            <a class="dropdown-item" href="homeRepVentas.html">Ventas</a>
                      </div>
                    </li>
                

                </ul>

                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 45px;">Usuario
                    </button>

                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="">Perfil</a>
                        <a class="dropdown-item" href="../../../index.html">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div style="text-align: center; padding: 1em;">
        <h3 class="tituloRep">
            Reportes de Compras
        </h3>
    </div>

    <div id="divPrimG">
    	<div>
    		<h3>Reporte Mensual</h3>
    	</div>
 
    	<div>
    		<label>Seleccione Periodo: </label>
    		<select class="repM">
    			<option disabled selected>Mes</option>
    			<option>Enero</option>
    			<option>Febrero</option>
    			<option>Marzo</option>
    			<option>Abril</option>
    			<option>Mayo</option>
    			<option>Junio</option>
    			<option>Julio</option>
    			<option>Agosto</option>
    			<option>Septiembre</option>
    			<option>Octubre</option>
    			<option>Noviembre</option>
    			<option>Diciembre</option>
    		</select>
    		<select class="repM">
    			<option disabled selected>Año</option>
    			<option>2020</option>
    			<option>2019</option>
    			<option>2018</option>
    			<option>2017</option>
    		</select>
    		<button type="button" class="btn btn-outline-primary" style="margin-left: 10%;" id="repMensual">Ver reporte</button>
    	</div>
    	
    </div>

    <div id="divPrimG" style="margin-top: 1%;">
    	<div>
    		<h3>Reporte Anual</h3>
    	</div>
 
    	<div style="margin-left: 23%;">
    		<label>Seleccione Año: </label>
    		<select class="repM" style="width: 30%;">
    			<option disabled selected>Año</option>
    			<option>2020</option>
    			<option>2019</option>
    			<option>2018</option>
    			<option>2017</option>
    			<option>2016</option>
    			<option>2015</option>
    			<option>2014</option>
    			<option>2013</option>
    		</select>
    		<button type="button" class="btn btn-outline-primary" style="margin-left: 10%;" id="repAnual">Ver reporte</button>
    	</div>
    </div>

     <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../../scripts/zoomG.js"></script>
</body>
</html>