<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">

    <title>Ingresos</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600&display=swap" rel="stylesheet">
    <link href = "https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"  rel = "stylesheet" >

    <link rel="stylesheet" type="text/css" href="../../../css/style2.css">
</head>

<body id="gerente">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="homeGer.html"><img src="../../../img/logo.png" class="logo-brand" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class = "icon ion-md-menu" > </i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="../usuarios.html">Gestión Usuarios<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../opciongestion.html">Gestión Stocks</a>
                    </li>

                    <li class="nav-item">
                      <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 45px;">Reportes
                        </button>

                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="homeRepCompras.html">Compras</a>
                            <a class="dropdown-item" href="homeRepIngresos.html">Ingresos insumos</a>
                            <a class="dropdown-item" href="homeRepProduccion.html">Producción</a>
                            <a class="dropdown-item" href="homeRepVentas.html">Ventas</a>
                      </div>
                    </li>
                

                </ul>

                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 45px;">Usuario
                    </button>

                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="">Perfil</a>
                        <a class="dropdown-item" href="../../../index.html">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div>
        <div id="mesRep">
            <label>Año: </label>
            <input type="text" name="periodo" readonly="readonly" value="2020">
        </div>
        <div style="position: relative; width: 50%; margin-left: auto; margin-right: 5%; text-align: right; margin-top: 1%; margin-bottom: 1%;">
            <button type="button" class="btn btn-outline-secondary" style="background-color: rgb(255,255,255,50%);"> <a href="Insumosanual.pdf">Imprimir</a> </button>
            <button type="button" class="btn btn-outline-secondary" style="background-color: rgb(255,255,255,50%);"> <a href="">Descargar</a> </button>
            <button type="button" class="btn btn-outline-secondary" style="background-color: rgb(255,255,255,50%);"> <a href="">Enviar</a> </button>
        </div> 
    </div>

    <div style="text-align: center; padding: 1em;">
        <h3 class="tituloRep">
            Reporte anual de ingresos de insumos
        </h3>
    </div>
    <div class="espaciado">
      <div class="reporte">
        <div class="reporte-formato">
            <table class="table" rules="none" style="background-color: white; border-style: solid; border-color: black;">
                <thead>
                  <tr>
                    <th scope="col">Periodo</th>
                    <th scope="col">Total(kg)</th>
                    <th scope="col">Importe</th>
                  </tr>
                </thead>
    
                <tbody>
                  <tr>
                    <td>Enero</td> 
                    <td>1280</td>
                    <td>21.410</td>
                  </tr>
                    
                  <tr>
                    <td>Febrero</td> 
                    <td>1310</td> 
                    <td>26.680</td>
                  </tr>
                    
                  <tr>
                    <td>Marzo</td> 
                    <td>1480</td> 
                    <td>39.115</td>
                  </tr>
                    
                  <tr>
                    <td>Abril</td> 
                    <td>1451.5</td> 
                    <td>37.243</td>
                  </tr>
                
                  <tr>
                    <td>Mayo</td> 
                    <td>1502</td> 
                    <td>45.279</td>
                  </tr>
                    
                  <tr>
                    <td>Junio</td>  
                    <td>1485</td>
                    <td>43.456</td>
                  </tr>
                    
                  <tr>
                    <td>Julio</td> 
                    <td>1350</td>
                    <td>39.412</td>
                  </tr>

                  <tr>
                    <td>Agosto</td>
                    <td>1402 </td>
                    <td>45.412</td>
                  </tr>

                  <tr>
                    <td>Septiembre</td> 
                    <td>1680</td> 
                    <td>62.314</td>
                  </tr>
                    
                  <tr>
                    <td>Octubre</td> 
                    <td>1705</td> 
                    <td>70.412</td>
                  </tr>

                  <tr>
                    <td>Noviembre</td> 
                    <td>1645.2</td> 
                    <td>68.415</td>
                  </tr>
                    
                  <tr>
                    <td>Diciembre</td> 
                    <td>1420.1</td> 
                    <td>57.123</td>
                  </tr>
                </tbody>
              </table>
              <div class="info-reportes">
                <h4>Ingresos totales(kg):<span> 17674 kg </span></h4>
                <h4>Gasto total:<span> $526.271 </span></h4>
                <h4>Mes con mayor compra: <span>Octubre</span>
                <h4>Mes con menor compra: <span>Enero</span></h4>
                </h4>
              </div>
              
        </div>
      </div>
      <div class="hojaRep" id="imgIngresos" >
        <img src="../../../img/anualInsumos.jpg" >
        <img src="../../../img/anualInsumos2.jpg">
    </div>
    </div>
    </div>

   


     <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../../scripts/zoomG.js"></script>
</body>
</html>