<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reciplas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width-devide-width, initial-scale=1.0">
    <!--Fuentes de Google-->
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Permanent+Marker|Unna&display=swap" rel="stylesheet">
    <!--Estilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/style2.css">

<body class="alinear2" id="admin">
    <div>
        <div class="menu-admi">
            <div class="opcion-admi">
                <a href="usuarios.html">
                    <i class="fas fa-shopping-cart"></i>
                    <h2>Gestión de usuarios</h2>
                </a>

            </div>
            <div class="opcion-admi">
                <a href="opciongestion.html">
                    <i class="fas fa-clipboard-check"></i>
                    <h2>Gestion de Stocks</h2>
                </a>

            </div>
            <div class="opcion-admi">
                <a href="reportes/homeRep.html">
                    <i class="fas fa-comment-alt"></i>
                    <h2>Reportes</h2>
                </a>
            </div>
        </div>
    </div>
    
                


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../scripts/zoomC.js"></script>
    <script src="https://kit.fontawesome.com/cf5dc9ec56.js" crossorigin="anonymous"></script>
</body>

</html>
