<!DOCTYPE HTML>

<html lang="es">
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>Proveedores</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600&display=swap" rel="stylesheet">

    <link href = "https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"  rel = "stylesheet" >
   
    <link rel="stylesheet" type="text/css" href="../../css/style2.css">

</head>

<body id="comercializacion">
    <!--NavBar customizado --> 
      <!--Las sombras y demás van en la plantilla de css 
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="../../img/logo.png" class="logo-brand" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class = "icon ion-md-menu" ></i>
        </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Clientes<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="pedidos.html">Pedidos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="ventas.html">Ventas</a>
                </li>


            </ul>
        </div>

        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 45px;">Usuario
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#">Perfil</a>
            <a class="dropdown-item" href="#">Cerrar sesión</a>
            </div>
        </div>
    </nav>-->

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="../../img/logo.png" class="logo-brand" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class = "icon ion-md-menu" > </i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="usuarios.html">Gestión Usuarios<span
                                class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="opciongestion.html">Gestión Stocks</a>
                    </li>

                    <li class="nav-item">
                      <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 45px;">Reportes
                        </button>

                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="reportes/homeRepCompras.html">Compras</a>
                            <a class="dropdown-item" href="reportes/homeRepIngresos.html">Ingresos insumos</a>
                            <a class="dropdown-item" href="reportes/homeRepProduccion.html">Producción</a>
                            <a class="dropdown-item" href="reportes/homeRepVentas.html">Ventas</a>
                      </div>
                    </li>
                </ul>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 45px;">Usuario
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">Perfil</a>
                        <a class="dropdown-item" href="../../index.html">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main class="contenedor ">
        <br>
        <br>
        <form >
                <div class="formulario-cliente">
                    <fieldset>
                        <div class="campo fijo ">
                            <div>
                                <label for="name">Razon Social: </label>
                                <input type="text" id="name" placeholder="Guillan Berta">
                                
                            </div>
                            <div>
                                <label for="name">Pais: </label>
                            <input type="text" id="name" placeholder="Argentina">
                            
                            </div>
                        </div>
                        <div class="campo fijo">
                            
                            <div>
                                <label for="name">Provincia: </label>
                                <input type="text" id="name" placeholder="Corrientes">
                                
                            </div>
                            <div>
                                <label for="name">Localidad: </label>
                                <input type="text" id="name" placeholder="Corrientes">
                               
                            </div>
                            
                        </div>
                        <div class="campo fijo">
                            <div>
                                <label for="name">Direcccion: </label>
                                <input type="text" id="name" placeholder="Av marconi 2089">
                               
                            </div>
                            <div>
                                <label for="name">Cuit/Cuil: </label>
                                <input type="number" id="name" placeholder="27-24579665-7">
                                
                            </div>
                            
                        </div>
                        <div class="campo fijo ">
                            <div>
                                <label for="name">Correo Electronico: </label>
                                <input type="text" id="name" placeholder="berta@gmail.com">
                               
                            </div>
                            <div>
                                <label for="name">Telefono: </label>
                                <input type="number" id="name" placeholder="35995545">
                               
                            </div>
                            
                        </div>
                        <div class="campo fijo">
                            <label for="">Condicion impositiva</label>
                           <select name="" id="">
                               <option value="">Iva resp. inscripto</option>
                               <option value="">Monotributista</option>
                               <option value="">Relacion de dependencia</option>
                           </select>
                        </div>      
                        <div class="botones ubicacion-der" style="text-align: center;">
                            <button type="button" class="btn btn-outline-success botonCli" id="imprimirCli" ><a class="decoration" href="editarproveedor.html">Editar</a></button>
                        </div>     
                    </fieldset>
                    <div>
                        <caption>Lista de articulos</caption>
                        <table class="table cliente" rules="none">
                            <tr>
                                <th>Cod. Pedido</th>
                                <th>Fecha de ingreso</th>
                                <th>Fecha de entrega</th>
                                <th>Estado</th>
                               <th>Accion</th>
                                
                            </tr>
                     
                        <tr>
                            <td>001</td>
                            <td>00/00/00</td>
                            <td>00/00/00</td>
                            <td>Finalizado</td>
                           <td>
                               <select name="" id="">
                                <option value="">Accion</option>
                                   <option value="">Eliminar</option>
                                   <option value="">Modificar</option>
                               </select>
                           </td>
                        </tr>
                        <tr>
                            <td>002</td>
                            <td>00/00/00</td>
                            <td>00/00/00</td>
                            <td>Finalizado</td>
                            <td>
                                <select name="" id="">
                                    <option value="">Accion</option>
                                    <option value="">Eliminar</option>
                                    <option value="">Modificar</option>
                                </select>
                            </td>
                            
                        </tr>
                        <tr>
                            <td>003</td>
                            <td>00/00/00</td>
                            <td>00/00/00</td>
                            <td>Finalizado</td>
                            <td>
                                <select name="" id="">
                                    <option value="">Accion</option>
                                    <option value="">Eliminar</option>
                                    <option value="">Modificar</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div class="botones ubicacion-der" style="text-align: center;">
                        <button type="button" class="btn btn-outline-success botonCli" id="imprimirCli" ><a class="decoration" href="">Agregar articulo</a></button>
                    </div>
                    </div>
                </div>
            </form>
        <div class="botones ubicacion-der" style="text-align: center;">
            <button type="button" class="btn btn-outline-success botonCli" id="imprimirCli" ><a class="decoration" href="proveedores.html">Eliminar</a></button>
            <button type="button" class="btn btn-outline-success botonCli" id="agregarCli"><a class="decoration" href="proveedores.html">Guardar</a></button>
        </div>
    </main>


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../scripts/zoomC.js"></script>
    <script src="https://kit.fontawesome.com/cf5dc9ec56.js" crossorigin="anonymous"></script>
</body>
</html>